{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    <style type="text/css">
        i {
            margin: 3px 15px 0 0
        }
        h3,h2{
            font-weight: bold;
        }
        .index-btn{
            font-size: 20px;
            color: #fff;
        }
        button.btn-bottom{
            margin-top: 40px;
            margin-right: 20px;
        }
        .content{
            margin-left: 20px;
            margin-top: 100px;
        }
        {% endblock %}
    </style>
</head>
<body>
    {% block content %}
    <div class="content container-fluid">
        <div class="row-fluid">
            <div class="col-md-9">
                <h2>新建测试任务</h2>
                <p style="margin-top: 20px;margin-left: 20px;font-size: 18px">测试任务是运行测试的基本单元，其中包含多个测试用例</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-10" style="margin-top: 50px">
                <form class="form-horizontal" style="margin-left: 20px" action="/task/submit/" method="post">
                  <div class="form-group form-group-lg">
                    <label style="text-align: left" class="col-lg-2 col-md-2 col-sm-3 control-label">任务名称</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" name="taskname" placeholder="少于20个字符">
                    </div>
                  </div>
                  <div class="form-group form-group-lg">
                    <label style="text-align: left" class="col-lg-2 col-md-2 col-sm-3 control-label">任务描述</label>
                    <div class="col-sm-5">
                      <textarea  style="height: 100px" type="text" class="form-control" name="description" placeholder="少于30个字符"></textarea>
                    </div>
                  </div>
                  <div class="form-group form-group-lg">
                    <label style="text-align: left" class="col-lg-2 col-md-2 col-sm-3 control-label">测试用例</label>
                    <div class="col-sm-5">
                      <button id="selected" class="btn btn-danger btn-block index-btn"  data-toggle="modal" data-target="#myModal">未选择测试用例</button>
                      <input name="cases" id="cases" type="hidden">
{#                      <button type="submit" class="btn btn-success btn-block"><i class="fa fa-check-circle"></i>已选择16条用例</button>#}
                    </div>
                  </div>
                  <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel"><strong>请选择测试用例</strong></h4>
                          </div>
                          <div class="modal-body">
                                <div class="row">
                                    {% if all %}
                                        {% for case in all %}
                                            <div class="col-md-4 col-sm-4">
                                                 <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value={{ case.id }}> {{ case.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-md-8 col-sm-8"><h4 style="font-weight: bold;color: red">请先添加测试用例</h4></div>
                                    {% endif %}
                                </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="select_case" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  <div class="form-group form-group-lg">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button id="confirm" type="submit" class="btn-bottom btn btn-info index-btn">提交</button>
                      <button id="reset" class="btn-bottom btn btn-warning index-btn">重置</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
           $("form").bootstrapValidator({
                submitButtons: '#confirm',
                message: '通用的验证失败消息',
                feedbackIcons: {//根据验证结果显示的各种图标
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    taskname: {    //控件的name属性
                        validators: {
                            notEmpty: {//检测非空,radio也可用
                                message: '任务名称不能为空'
                            },
                            stringLength: {//检测长度
                                max: 20,
                                message: '长度必须小于20位'
                            }
                        }
                    }
                }
           });

           //当模态对话框确认时，获取所有已经勾选的用例，修改select_case中的text和cases中的value
           $("#select_case").click(function(){
               $("#selected").removeClass("btn-danger");
               $("#selected").removeClass("btn-success");
               var l = $(".checkbox label input:checked").length;
               if(l>0){
                    $("#selected").addClass("btn-success");
                    $("#selected").text("已选择"+l+"个测试用例");
                    var arr = new Array();
                    $(".checkbox label input:checked").each(function(i){
                        arr[i] = $(this).val();
                    });
                    var vals = arr.join(",");
                    $("#cases").val(vals);
               }else{
                    $("#selected").addClass("btn-danger");
                    $("#selected").text("未选择测试用例");
                    $("#cases").val("");
               }
           });
           $("#reset").click(function () {
               window.location.reload();
           });
           $("small").css('font-size', "16px");
        });
    </script>
    {% endblock %}
</body>
</html>